# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: mouse440/trippin-node-8.9
      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

    working_directory: ~/trippin

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: npm install

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
        
      # run tests!
      - run: npm run test:ci
  deploy-dev:
       steps:
         - run:
             name: Deploy Dev to Firebase
             command: ~/trippin/node_modules/.bin/firebase deploy --token=$FIREBASE_DEPLOY_TOKEN -P default
  deploy-production:
       steps:
         - run:
             name: Deploy Master to Firebase
             command: ~/trippin/node_modules/.bin/firebase deploy --token=$FIREBASE_DEPLOY_TOKEN -P production
workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build
      - deploy-dev:
          context: belo
          requires:
              - build
          filters:
            branches:
              only: dev   
      - deploy-production:
          context: belo
          requires:
              - build
          filters:
            branches:
              only: master    