<div class="container">

  <section class="hero">
      <img class="logo" src="assets/logo.svg" alt="logo"/>
      <h1 class="mat-display-1">Beautiful trips.</h1>
      <div class="hero__create-container">
          <h4 class="mat-h4">Where to?</h4>
          <div class="hero__create-spaced-equal">
              <input type="text" placeholder="Enter a title for your trip"/>
              <button mat-button>Password</button>
              <button mat-flat-button color="primary">Create</button>
          </div>
          <span class="mat-caption">Free forever. No ads.</span>
          <a href="#">Learn more</a>
      </div>
  </section>

  <section class="about">
    <h4 class="mat-h4">WTF is Belo?</h4>
    <h2 class="mat-h2">Belo Trip takes the pain out of organizing trips with friends and family.</h2>
    <a href="/about">Learn more</a>
  </section>

  <section class="footer">
    <div class="footer__logo">
        <img src="assets/logo-symbol-white.svg" alt="logo"/>
    </div>
      <div>Made in Berlin</div>
      <div class="footer__links">
          <a href="/about">About</a>
          <a href="#">Roadmap</a>
          <a href="#">Contact</a>
      </div>
      <span class="footer__date">2018</span>
  </section>